.dice-roll {
    .statuseffect-message {
        font-weight: 700;
        ul {
            padding: 0.5em;
            margin: 0;
            li {
                cursor: help;
            }
        }
    }
    .statuseffect-rules {
        font-size: 13px;
        font-weight: 500;
        h2 {
            font-weight: 700;
        }
    }
}
