.roll-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h3 {
        font-size: 18px;
        font-weight: initial;
        color: var(--tertiary-light);
        white-space: nowrap;
    }
    .initiative-select {
        width: 129px;
    }
}

.perception-sidebar, .initiative-sidebar {
    gap: 5px;
    h3 {
        flex-grow: 1;
    }
}
