#homebrew-settings {
    section.window-content {
        display: block;
        .form-group {
            &.setting {
                display: inherit;
                tags {
                    background-color: rgba(0, 0, 0, 0.05);
                    border: 1px solid #7a7971;
                    border-radius: 3px;
                    height: 2.5em;
                    &.tagify--focus {
                        border: 1px solid #7a7971;
                        box-shadow: 0 0 5px red;
                    }
                }

                .homebrew {
                    --tag-text-color--edit: #111;
                    --tag-inset-shadow-size: 1.35em;
                    --tag-pad: 0.2em 0.4em;
                    --tag-remove-bg: var(--tag-hover);
                    --tag-remove-btn-bg--hover: black;
                    font-size: 13px;
                    min-width: 0;
                }
            }
            &.buttons {
                margin-top: 0.5em;
            }
        }
    }
}
