<form>
    <header class="sheet-header">
        <h1>{{entry.name}}</h1>
        <p class="hint">{{localize "PF2E.Actor.Creature.SpellPreparation.Hint"}}</p>
        {{#if entry.flexibleAvailable}}
            <div class="item-controls flexible-available">
                {{#with entry.flexibleAvailable}}
                    {{localize "PF2E.SpellFlexibleAvailable" value=value max=max}}
                {{/with}}
            </div>
        {{/if}}
    </header>
    <section class="sheet-content">
        <ol class="directory-list item-list spell-list">
            {{#unless entry.spellPrepList}}
                {{#if @root.owner}}
                    <li class="spellbook-header spellbook-empty">
                        <h4>{{localize "PF2E.SpellSlotEmpty"}}</h4>
                        <a class="item-control spell-create" title="{{localize "PF2E.CreateSpellTitle"}}" data-type="spell" data-location="{{entry.id}}">
                            <i class="fas fa-plus"></i>{{localize "PF2E.AddSpellTitle"}}
                        </a>
                        <a class="item-control spell-browse" title="{{localize "PF2E.OpenSpellBrowserTitle"}}" data-type="spell" data-location="{{entry.id}}">
                            <i class="fas fa-search"></i>{{localize "PF2E.OpenSpellBrowserTitle"}}
                        </a>
                    </li>
                {{/if}}
            {{/unless}}
            {{#each entry.spellPrepList as |spells level|}}
                {{#if spells}}
                    <li class="spell-level-header">
                        <div class="item-name flexrow">
                            <h3>
                                {{#if (gt level 0)}}
                                    {{localize "PF2E.SpellLevel" level=(ordinal level)}}
                                {{else}}
                                    {{localize "PF2E.SpellCantripLabel"}}
                                {{/if}}
                            </h3>
                        </div>

                        <div class="spell-range">
                            {{localize "PF2E.SpellRangeLabel"}}
                        </div>
                        <div class="spell-components">{{localize "PF2E.SpellComponentsLabel"}}</div>
                        {{#if @root.owner}}
                            <div class="item-controls">
                                <a class="item-control spell-create" title="{{localize "PF2E.CreateSpellTitle"}}" data-type="spell"
                                    data-level="{{level}}" data-location="{{entry.id}}"><i class="fas fa-plus"></i></a>
                                <a class="item-control spell-browse" title="{{localize "PF2E.OpenSpellBrowserTitle"}}" data-type="spell"
                                    data-level="{{level}}" data-location="{{entry.id}}"><i class="fas fa-search"></i></a>
                            </div>
                        {{/if}}
                    </li>
                    <!-- Unprepared Spells -->
                    {{#each spells as |item i|}}
                        <li class="item spell spellbook-item" data-item-id="{{item.spell.id}}" data-item-type="spell" draggable="true">
                            <div class="item-name rollable">
                                <div class="item-image">
                                    <img class="item-icon" src="{{spell.img}}" alt="{{spell.name}}">
                                </div>
                                <h4>{{spell.name}}{{{actionGlyph spell.data.data.time.value}}}</h4>
                            </div>

                            <div class="spell-range">{{spell.data.data.range.value}}</div>

                            <div class="spell-components tags">
                                {{#if spell.data.data.components.focus}}
                                    <span class="tag tag_transparent">{{localize "PF2E.SpellComponentShortF"}}</span>
                                {{/if}}
                                {{#if spell.data.data.components.material}}
                                    <span class="tag tag_transparent">{{localize "PF2E.SpellComponentShortM"}}</span>
                                {{/if}}
                                {{#if spell.data.data.components.somatic}}
                                    <span class="tag tag_transparent">{{localize "PF2E.SpellComponentShortS"}}</span>
                                {{/if}}
                                {{#if spell.data.data.components.verbal}}
                                    <span class="tag tag_transparent">{{localize "PF2E.SpellComponentShortV"}}</span>
                                {{/if}}
                            </div>
                            {{#if @root.editable}}
                                <div class="item-controls">
                                    {{#unless spell.isCantrip}}
                                        {{#if @root.entry.isFlexible}}
                                            <input
                                                type="checkbox"
                                                class="toggle-signature-spell"
                                                {{checked signature}}
                                                title="{{#if signature}}{{localize 'PF2E.SpellCollectionRemove'}}{{else}}{{localize 'PF2E.SpellCollectionAdd'}}{{/if}}"
                                            />
                                        {{/if}}
                                    {{/unless}}
                                    <a class="item-control item-edit" title="{{localize "PF2E.EditItemTitle"}}"><i class="fas fa-edit"></i></a>
                                    <a class="item-control item-delete" title="{{localize "PF2E.DeleteItemTitle"}}"><i class="fas fa-trash"></i></a>
                                </div>
                            {{/if}}
                        </li>
                    {{/each}}
                {{/if}}
            {{/each}}
        </ol>
    </section>
</form>
